.center-table {
  margin-left: auto;
  margin-right: auto;
  /* Optional: set a width for the margins to work effectively if the table doesn't have an implicit width smaller than its container */
  width: 95%;
}

.a {
  font-family: Verdana;
  font-size: 15px;
}

.artista {
  font-family: Verdana; 
  font-size: 18px; 
  font-weight: bold;
  color: #D25306;
}